<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://todoitem-test.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>todoitem-test.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TodoItem-test</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$TodoItem-test</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MS_TableConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:wqosp6p4m1.database.windows.net,1433;Initial Catalog=TodoItem-test_db;User ID=heimanhon@wqosp6p4m1;Password=Dan4mag7" Name="Data Source=tcp:wqosp6p4m1.database.windows.net,1433;Initial Catalog=TodoItem-test_db;User Id=heimanhon@wqosp6p4m1;Password=Dan4mag7" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="csdataserviceService.Models.csdataserviceContext, csdataserviceService" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MS_NotificationHubConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:wqosp6p4m1.database.windows.net,1433;Initial Catalog=TodoItem-test_db;User ID=heimanhon@wqosp6p4m1;Password=Dan4mag7" Name="Data Source=tcp:wqosp6p4m1.database.windows.net,1433;Initial Catalog=TodoItem-test_db;User Id=heimanhon@wqosp6p4m1;Password=Dan4mag7" />
          <Object Type="DbDacFx">
            <PreSource Path="Endpoint=sb://[your namespace].servicebus.windows.net;SharedSecretIssuer=owner;SharedSecretValue=[your secret]" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MS_NotificationHubConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Endpoint=sb://[your namespace].servicebus.windows.net;SharedSecretIssuer=owner;SharedSecretValue=[your secret]" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MS_NotificationHubConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:wqosp6p4m1.database.windows.net,1433;Initial Catalog=TodoItem-test_db;User Id=heimanhon@wqosp6p4m1;Password=Dan4mag7</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MS_TableConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:wqosp6p4m1.database.windows.net,1433;Initial Catalog=TodoItem-test_db;User Id=heimanhon@wqosp6p4m1;Password=Dan4mag7</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>